//Roboto
$font-roboto-black: "Roboto Black";
$font-roboto-blackitalic: "Roboto BlackItalic";
$font-roboto-bold: "Roboto Bold";
$font-roboto-bolditalic: "Roboto BoldItalic";
$font-roboto-italic: "Roboto Italic";
$font-roboto-light: "Roboto Light";
$font-roboto-lightitalic: "Roboto LightItalic";
$font-roboto-medium: "Roboto Medium";
$font-roboto-mediumitalic: "Roboto MediumItalic";
$font-roboto-regular: "Roboto Regular";
$font-roboto-thin: "Roboto Thin";
$font-roboto-thinitalic: "Roboto ThinItalic";